.test {
    background-image: url(./img/f.jpg);
}
.head {
    background-image: url(./img/v.png);
    color: #00FFFF;
    font-family: 'Lobster';
}
.header {
    color: #000080;
    font-family: 'Lobster';
}
.header1 {
    color: #000080;
    font-family: 'Lobster';
}
.head_about{
    color: #0000FF;
    font-family: 'Lobster';
}
